@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
body {
  background: var(--bg-color);
  color: var(--text-color);

}
